# Task 2: Calculate summary statistics for Titanic data

### Column Details


Survival:

    1- yes
    2- no
Pclass:
    
    1- First
    2- Second
    3- Third
    
Sex:

    Male
    Female
   
Age:

    Age in year
    
Sibling:

    Number of siblings / spouses aboard the Titanic
    
parch:

    Number of parents / children aboard the Titanic
    
Ticket:
    
    Ticket number
    
Fare:

    Passenger fare
    
Cabin: 

    Cabin number
    
embarked:

    Port of Embarkation
    C = Cherbourg
    Q = Queenstown
    S = Southampton

Summary statistics are used to get basic understanding of data.<br>
#### some descriptive measures are
1. Mean<br>
2. Median
3. Mode
4. Standard deviation
5. Variance
6. Range
7. Quartiles
8. Percentiles

In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd, numpy as np
import matplotlib.pyplot as plt, seaborn as sns

Importing preprocessed data for summary calculation

In [143]:
df = pd.read_csv("Titanic_modified.csv")
df.head()

,Age,Embarked,Fare,Name,Parch,Pclass,Sex,SibSp,Survived,Ticket
0,34.5000,Q,7.8292,"Kelly, Mr. James",0,3,male,0,0,330911
1,47.0000,S,7.0000,"Wilkes, Mrs. James (Ellen Needs)",0,3,female,1,1,363272
2,58.5625,Q,9.6875,"Myles, Mr. Thomas Francis",0,2,male,0,0,240276
3,27.0000,S,8.6625,"Wirz, Mr. Albert",0,3,male,0,0,315154
4,22.0000,S,12.2875,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,3,female,1,1,3101298

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308 entries, 0 to 1307
Data columns (total 10 columns):
Age         1308 non-null float64
Embarked    1308 non-null object
Fare        1308 non-null float64
Name        1308 non-null object
Parch       1308 non-null int64
Pclass      1308 non-null int64
Sex         1308 non-null object
SibSp       1308 non-null int64
Survived    1308 non-null int64
Ticket      1308 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 81.8+ KB

In [145]:
# from sklearn.preprocessing import LabelEncoder
# label_encoder = LabelEncoder()
# df['Embarked'] = label_encoder.fit_transform(df['Embarked'])
# Actual = label_encoder.inverse_transform([0,1,2])
# print(Actual,"Embarked are categorised as [0,1,2] respectively")

In [146]:
# from sklearn.preprocessing import LabelEncoder
# label_encoder = LabelEncoder()
# df['Sex'] = label_encoder.fit_transform(df['Sex'])
# Actual = label_encoder.inverse_transform([0,1])
# print(Actual," Genders are categorised as [0,1] respectively")

Summary statistics

In [147]:
quantitative_columns = ['Age','Fare','Parch','SibSp']
qualitative_columns = ['Embarked','Sex','Pclass','Survived']

Mean:

In [148]:
Avg = {}
for i in quantitative_columns:
    average = df["{}".format(i)].mean()
    Avg[i] = average
print("Mean of quantitative variables is \n",Avg)

Mean of quantitative variables is
 {'Age': 29.004048165137615, 'Fare': 24.287208256880618, 'Parch': 0.3853211009174312, 'SibSp': 0.49923547400611623}

Median:

In [149]:
Median = {}
for i in quantitative_columns:
    Md = df["{}".format(i)].median()
    Median[i] = Md
print("Median of quantitative variables is \n",Median)

Median of quantitative variables is
 {'Age': 26.0, 'Fare': 14.4542, 'Parch': 0.0, 'SibSp': 0.0}

Mode:

In [150]:
Mode = {}
for i in qualitative_columns:
    MO = df["{}".format(i)].mode()[0]
    Mode[i] = MO
print("Mode of qualitative variables is \n",Mode)

Mode of qualitative variables is
 {'Embarked': 'S', 'Sex': 'male', 'Pclass': 3, 'Survived': 0}

Standard deviation:

In [151]:
SD = {}
for i in quantitative_columns:
    stand_dev = df["{}".format(i)].std()
    SD[i] = stand_dev
print("stand deviation of qualitative variables is \n",SD)

stand deviation of qualitative variables is
 {'Age': 12.67067467544786, 'Fare': 20.795666284227373, 'Parch': 0.8658257885990792, 'SibSp': 1.0419653739229833}

Variance:

In [152]:
VAR = {}
for i in quantitative_columns:
    Variance = df["{}".format(i)].var()
    VAR[i] = Variance
print("Variance of qualitative variables is \n",VAR)

Variance of qualitative variables is
 {'Age': 160.54599673103573, 'Fare': 432.45973620495107, 'Parch': 0.7496542962032173, 'SibSp': 1.0856918404544624}

Range:

In [153]:
R = {}
for i in quantitative_columns:
    MAX = df["{}".format(i)].max()
    MIN = df["{}".format(i)].min()
    RANGE = MAX - MIN
    R[i] = RANGE
print("Range of qualitative variables is \n",R)

Range of qualitative variables is
 {'Age': 58.3925, 'Fare': 66.34379999999999, 'Parch': 9, 'SibSp': 8}

Quartiles:

In [154]:
Q1 = {}
Q3 = {}
for i in quantitative_columns:
    Q1_ = df["{}".format(i)].quantile(0.25)
    Q1[i] = Q1_
    Q3_ = df["{}".format(i)].quantile(0.75)
    Q3[i] = Q3_
    
print("First quartile of qualitative variables is \n",Q1)
print()
print("Third quartile of qualitative variables is \n",Q3)

First quartile of qualitative variables is
 {'Age': 22.0, 'Fare': 7.8958, 'Parch': 0.0, 'SibSp': 0.0}

Third quartile of qualitative variables is
 {'Age': 36.625, 'Fare': 31.275, 'Parch': 0.0, 'SibSp': 1.0}

Using describe function to get summary statistics

In [155]:
df[quantitative_columns].describe(percentiles=[0.25,0.50,0.75,0.85,0.90,0.95])

               Age         Fare        Parch        SibSp
count  1308.000000  1308.000000  1308.000000  1308.000000
mean     29.004048    24.287208     0.385321     0.499235
std      12.670675    20.795666     0.865826     1.041965
min       0.170000     0.000000     0.000000     0.000000
25%      22.000000     7.895800     0.000000     0.000000
50%      26.000000    14.454200     0.000000     0.000000
75%      36.625000    31.275000     0.000000     1.000000
85%      42.000000    56.929200     1.000000     1.000000
90%      48.000000    66.343800     2.000000     1.000000
95%      54.650000    66.343800     2.000000     2.000000
max      58.562500    66.343800     9.000000     8.000000